# ImageKit Configuration
# Copy this file to .env.local and fill in your actual values
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_r9LxSMcc4Mb5ELS5g11hrHMgbYM=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/asnd0xlbt
IMAGEKIT_PRIVATE_KEY=private_h4H6W4aYJbxh5XynN9GSNfQfxI8=
NEXT_PUBLIC_WHATSAPP_NUMBER=01321660077
